@import 'src/variables';
@import 'src/mixins';

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  background-color: white;
}

.body {
  overflow: auto;
  padding: 24px;
}

.all-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
  --tyl-icon-font-size: 48px;
  .icon {
    margin: 16px;
    display: flex;
    flex-direction: column;
    tcw-icon {
      margin-bottom: 8px;
    }
    word-break: break-all;
  }
}

.footer {
  padding: 4px 16px;
  border-top: $tyl-border;
}
