<form [formGroup]="formGroup" novalidate autocomplete="off" class="form-grid">
  <tcw-select formControlName="select01" label="Select01 - single primitive" class="form-grid__field">
    <tcw-option *ngFor="let option of options" [value]="option.value">{{option.label}}</tcw-option>
  </tcw-select>

  <tcw-select label="Select02 - single object" [options]="objectOptions" formControlName="select02" class="form-grid__field"></tcw-select>

  <tcw-select label="Select03 - multiple select" [options]="options" multiple formControlName="select03" class="form-grid__field"></tcw-select>

  <tcw-select label="Select04 - option builder" [options]="objectOptions" formControlName="select04" [optionBuilder]="optionBuilder" class="form-grid__field"></tcw-select>

  <tcw-select label="Select05 - selected text builder" [options]="options" formControlName="select05" [selectedTextBuilder]="selectedTextBuilder" class="form-grid__field"></tcw-select>

  <p class="form-grid__row-break">{{formGroup.value | json}}</p>
</form>