@import 'src/variables';
@import 'src/mixins';

:host {
  display: block;
  margin: 24px;
  padding: 16px;
  @include app--container-raised;
}

.form-grid {
  @include app--form-grid;
  justify-content: center;
}

tcw-divider {
  margin: 16px 0;
}
