@import 'src/variables';
@import 'src/mixins';

:host {
  display: block;
}

.expander {
  width: 100%;
  padding: 8px;
  button {
    min-width: 100%;
    @include tyl-flex-container(flex, row, nowrap, center);
    tcw-icon {
      margin-left: auto;
    }
  }
}

.menu {
  &--mini {
    --tyl-list-item-leading-margin-right: 0;
  }

  &__item {
    &--nested {
      margin-left: 16px;
    }
  }
}
