@import '@tylertech/tyler-components-web/styles/theme/variables';
@import '@tylertech/tyler-components-web/styles/typography/variables';

$card-margin: 24px;
$card-padding: 16px;

$form-grid-column-width: 256;
$form-grid-gap: 16;