<tcw-toolbar class="header">
  <h2 slot="start" class="tyl-typography--title">Home</h2>
  <tcw-button slot="end" type="unelevated">
    <button type="button" (click)="toggleMode()">Toggle mode</button>
  </tcw-button>
</tcw-toolbar>

<div class="body">

  <app-card [hasHeader]="true" [hasFooter]="true">
    <div app-card-header slot="start">
      <span>Card header</span>
    </div>
    <div app-card-header slot="end">
      <tcw-icon-button>
        <button type="button">
          <tcw-icon name="close"></tcw-icon>
        </button>
      </tcw-icon-button>
    </div>

    <ng-container *ngTemplateOutlet="mode === 'detail-one' ? appDetailOne : appDetailTwo"></ng-container>

    <ng-template #variableTemplate [ngTemplateOutlet]="variableTemplate" [ngTemplateOutletContext]="{ $implicit: { cats: 1, dogs: 2 } }" let-variable>
      <p>{{variable | json}}</p>
    </ng-template>

    <div>{{0 | arrayFind:data:'value':'label'}}</div>
    <div>{{1 | arrayFind:data:'value' | json}}</div>

    <div app-card-footer slot="end">
      <tcw-button type="outlined">
        <button type="button">Cancel</button>
      </tcw-button>
      <tcw-button type="raised">
        <button type="button">Save</button>
      </tcw-button>
    </div>
  </app-card>

</div>

<ng-template #appDetailOne>
  <app-detail-one></app-detail-one>
</ng-template>

<ng-template #appDetailTwo>
  <app-detail-two></app-detail-two>
</ng-template>