<tcw-toolbar class="header">
  <h2 slot="start" class="tyl-typography--title">Home</h2>
  <tcw-button slot="end" type="unelevated">
    <button type="button" (click)="toggleMode()">Toggle mode</button>
  </tcw-button>
</tcw-toolbar>

<div class="body">
  <ng-container *ngTemplateOutlet="mode === 'detail-one' ? appDetailOne : appDetailTwo"></ng-container>

  <ng-template #variableTemplate [ngTemplateOutlet]="variableTemplate" [ngTemplateOutletContext]="{ $implicit: { cats: 1, dogs: 2 } }" let-variable>
    <p>{{variable | json}}</p>
  </ng-template>
</div>

<ng-template #appDetailOne>
  <app-detail-one></app-detail-one>
</ng-template>

<ng-template #appDetailTwo>
  <app-detail-two></app-detail-two>
</ng-template>