<tcw-toolbar class="header">
  <div slot="start" class="tyl-flex-container--row">
    <tcw-icon-button>
      <button type="button" (click)="navigate('test/home')" aria-label="go back">
        <tcw-icon class="tyl-color-icon" aria-hidden="true" name="arrow_back"></tcw-icon>
      </button>
    </tcw-icon-button>
    <h2 class="tyl-typography--title">Child</h2>
  </div>
</tcw-toolbar>

<div class="body" #body>
  <tcw-button type="unelevated">
    <button type="button" (click)="go()">Go</button>
  </tcw-button>

</div>